*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background: hsl(229, 57%, 11%);
}

.container {
  width: 100%;
}

.bg-img {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.bg-mobile {
  background-size: contain;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
}

.main-container {
  min-height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fylo-container {
  background: hsl(228, 56%, 26%);
  width: 35%;
  min-height: 22vh;
  border-radius: 10px 100px 10px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  margin-bottom: 8rem;
}

.drive {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drive-logo {
  width: 40%;
  margin-bottom: 2rem;
}

.drive-icon {
  background-color: hsl(229, 57%, 11%);
  padding: 1rem 1.2rem;
  border-radius: 10px;
}

.storage-container {
  position: relative;
  padding-top: 3rem;
  width: 60%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 13rem;
}

.storage-wrapper {
  background: hsl(228, 56%, 26%);
  height: 20vh;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  border-radius: 10px;
}

.storage-left {
  width: 90%;
  margin: 0 auto;
}

.storage-text {
  color: hsl(210, 2%, 80%);
  font-size: 1rem;
}

.storage-message {
  background: hsl(0, 16%, 96%);
  color: hsl(229, 7%, 55%);
  font-size: 14px;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 27%;
  height: 8vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.storage-message::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid hsl(0, 16%, 96%);
  border-top: 12px solid hsl(0, 16%, 96%);
  border-bottom: 24px solid transparent;
  right: 0;
  bottom: -20px;
}

.storage-message strong {
  font-size: 2.5rem;
  color: black;
  margin-left: 1rem;
}
.storage-message span {
  font-size: 14px;
  margin-right: 1rem;
  font-weight: bold;
}

.storage-text strong {
  color: rgb(223, 221, 221);
}

.line-container {
  width: 90%;
  background: hsl(229, 57%, 11%);
  height: 20px;
  border-radius: 50px;
  margin: 0 auto;
}

.line {
  display: flex;
  text-align: right;
  width: 80%;
  height: 20px;
  background: hsl(6, 100%, 80%);
  border-radius: 50px;
}

.circle {
  padding: 0.6rem;
  border-radius: 50px;
  background: rgb(230, 230, 230);
  margin: 0 0 0 auto;
}

.storage {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.min-text,
.max-text {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(205, 213, 226);
}

/* Mobile */
